<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Bookstore</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<h1>Welcome to the bookstore
		[[${#httpServletRequest.remoteUser}]]!</h1>
	<p>Available books:</p>
	<table>

		<tbody>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>Price</th>
			<th>ISBN</th>
			<th>Category</th>
			<tr th:each="book: ${books}">

				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.price}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.category.name}"></td>
				<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/update/{id}(id=${book.id})}">Edit</a></td>
				<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
		</tbody>
	</table>
	<div>
		
		<a href="/newbook">Add a new book!</a>
	</div>
	<div>
		<a href="/categorylist">View all categories here!</a>
	</div>
	<div>
		<td sec:authorize="hasRole('ADMIN')">
		<a href="/newcategory">Add a new category</a>
	</div>
	<div>
		<a href="/login?logout">Log out</a>
	</div>



</body>
</html>