<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>Bookstore</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<h1>Welcome to the bookstore!</h1>
	<p>Book Categories:</p>
	<table>

		<tbody>
		<th>Category</th>
			<tr th:each="category: ${categories}">
				
				<td th:text="${category.name}"></td>
				
		</tbody>
	</table>
	<a href="/newcategory">Add a new category!</a>
	<div>
		<a href="/index">Back to the frontpage</a>
	</div>
	

</body>
</html>